@import "./variables.scss";


body {
  margin: 0;
  @extend %font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.landing-page-wrapper{
  @extend %width-inherit;
  height: 100%;
  min-height: 100vh;
  position: relative;
}
.navbar{
  @extend %width-inherit;
  height: 84px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  @extend %flex-start-space-between;
  @extend %both-padding-120;

  .primary-button{
    @extend %margin-left-50;
  }
}
.image{
  width: 100px;
  height: 100px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.header{
  font-size: 21px;
  font-style: normal;
  margin: 0;
}

.paragraph{
  @extend %font-12;
  font-style: normal;
  margin: 0;
}

.logo-wrapper{
  @extend %flex-start;
  .logo{
    width: 30px;
    height: 28px;
  }
  .logo-name{
    font-weight: 700;
    @extend %font-bold;
    letter-spacing: 0.088529px;
    @extend %color-primary-light;
  }
}
.nav-menu:first-child{
  margin-left: 0 !important;
}
.nav-menu{
  @extend %color-primary;
  @extend %no-letter-spacing;
  @extend %margin-left-50;
  @extend %cursor-pointer;
  font-size: 18px;
  font-weight: 400;
}
.nav-wrapper{
  @extend %flex-basis-60;
  @extend %flex-end-center;

}
.button:focus{
  outline: none;
}
.button{
  height: 40px;
  width: 143px;
  border-radius: 5px;
  line-height: 24px;
  font-size: 16px;
  @extend %no-letter-spacing; 
  @extend %font-medium;
  font-weight: 500;
  @extend %cursor-pointer;
}

.primary-button{
  @extend %bg-orange;
  @extend %color-white;
  @extend %border-orange;
}

.naked-button{
  @extend %border-orange;
  @extend %color-orange;
  background: transparent;
}

.landing-header{
  background: url("../images/bg-food4.png");
  @extend %width-inherit;
  height: 446px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @extend %both-padding-120;

  .header{
    font-size: 54px;
    width: 50%;
    @extend %color-primary;
    @extend %font-54;
    line-height: 72px;
    letter-spacing: 0;
    padding-top: 135px;
    @extend %font-semi-bold;
  }
}

.section-wrapper{
  @extend %margin-top-10;

  .section-menu-wrapper{
    @extend %width-inherit;
    @extend %flex-start-space-between;
    @extend %margin-bottom-25;
    @extend %both-padding-120;
  }
}

.wrapper{
  @extend %flex-end-center;
}

.scroll-nav{
  height: 60px;
  width: 59px;
  border: 1px solid rgba(159, 155, 155, 0.5);
  border-radius: 8px;
  @extend %flex-end-center;
  @extend %cursor-pointer;
}
.scroll-nav:first-child{
 @extend %margin-left-32;
}
.scroll-nav:last-child{
  @extend %margin-left-20;
}

.scroll-nav-wrapper{
  @extend %flex-end-center;
}

.menu-wrapper{
  @extend %bg-gray;
  @extend %both-padding-120;
  flex-wrap: wrap;
  @extend %flex-start;

  .menu-card-wrapper{
    @extend %margin-right-25;
  }
  .menu-card-wrapper:nth-child(3n), .menu-card-wrapper:last-child{
    margin-right: 0 !important;
  }
}

.menu-card-wrapper{
  @extend %margin-bottom-30;
  .image{
    @extend %width-380;
    height: 212px;
    border-radius: 6px 6px  0 0;

    img{
      border-radius: 6px 6px 0 0;
    }
  }
  .menu-card{
    @extend %width-380;
    width: 380px;
    height: 154px;
    @extend %bg-white;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.05);

    .menu-list-tab{
      height: 83px;
      width: initial;
      border-bottom: 1px solid rgba(216, 216, 216, 0.24);
      padding: 12px 24px;
      overflow: hidden;

      .header{
        letter-spacing: -0.4px;
        @extend %color-black;
        @extend %font-semi-bold;
        @extend %font-16;
        @extend %margin-bottom-5;
      }

      .paragraph{
        @extend %color-primary;
        opacity: 0.5;
        line-height: 18px;
        width: 272px;
      }
    }
    .price-wrapper{
      padding: 0 24px;
      height: 47px;
      @extend %flex-start;

      .header:first-child{
        @extend %color-black;
        @extend %font-14;
        @extend %font-semi-bold;
        height: inherit;
        @extend %flex-basis-70;
        @extend %flex-start;
        border-right: 1px solid rgba(216, 216, 216, 0.24);
      }
      .header:last-child{
        letter-spacing: -0.175px;
        @extend %color-orange;
        @extend %font-14;
        @extend %font-semi-bold;
        @extend %flex-center-center;
        @extend %height-inherit;
        @extend %flex-basis-30;
      }
    }
  }
}

.header3{
  @extend %font-semi-bold;
  @extend %color-primary;
  @extend %font-32;
}

.header4{
  @extend %font-semi-bold;
  @extend %color-orange;
  @extend %font-20;
  @extend %cursor-pointer;
}

.both-margin-30{
  @extend %both-margin-30;
}

.subscribe-section{
  @extend %both-padding-100;
  @extend %flex-center-center;
  flex-direction: column;
  @extend %bg-gray;

  .button{
    height: 60px;
    width: 290px;
    @extend %color-white;
    @extend %font-18;
  }

  .header{
    @extend %font-44;
    @extend %font-semi-bold;
    @extend %color-primary;
    line-height: 64px;
    @extend %no-letter-spacing;
    width: 906px;
    @extend %text-center;
    @extend %margin-bottom-20;
  }
  .paragraph{
    @extend %color-primary;
    @extend %font-22;
    opacity: 0.5;
    line-height: 30px;
    width: 556px;
    @extend %text-center;
    @extend %margin-bottom-50;
  }
}

.input-wrapper{
  width: 263px;
  height: 50px;
  border-radius: 8px;
  background: rgba(0, 12, 66, 0.05);
  @extend %both-padding-20;

  input{
    border: none;
    background: transparent;
    width: -webkit-fill-available;
  }

  input:focus{
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header{
    line-height: 20px;
    font-weight: 400;
    @extend %color-primary;
    @extend %font-13;
    width: -webkit-fill-available;
    @extend %text-left;
    margin-bottom: 10px !important;
  }
}

.left-20{
  @extend  %margin-left-20;
}

.input-div{
  @extend %flex-start;
  @extend %margin-bottom-20;
}

.width-long{
  width: 587px;
  @extend %margin-bottom-50;
}
.footer{
  height: 360px;
  width: inherit;
  padding: 94px 71px 10px;
  @extend %bg-primary;

  .footer-header-wrapper{
    width: 518px;

    .header{
      @extend %font-bold;
      @extend %font-30;
      line-height: 50px;
      @extend %no-letter-spacing;
      @extend %color-white;
    }
    .paragraph {
      @extend %font-20;
      line-height: 28px;
      opacity: 0.6;
      @extend %color-white;
      font-weight: 400;
    }
  }
  .footer-wrapper{
    @extend %flex-center-center;
    @extend %margin-bottom-30;
  }
  .footer-button-wrapper{
    @extend %margin-left-100;

    .primary-button, .naked-button{
      @extend %font-bold;
      @extend %font-14;
      line-height: 24px;
      @extend %no-letter-spacing;
      margin-left: 0;
      height: 50px;
      width: 231px;
      text-transform: uppercase;
    }
    .naked-button{
      @extend %margin-left-20;
    }
  }
  .footer-menu-wrapper{
    height: 125px;
    @extend %width-inherit;
    background: rgba(255, 255, 255, 0.05);
    padding: 50px 79px;
    
    .footer-menu{
      @extend %flex-start;
      .header{
        @extend %color-aliceblue;
        @extend %font-17;
        @extend %font-medium;
        @extend %margin-left-30;
        line-height: 25px;
      }
      .header:first-child{
        margin-left: 0 !important;
      }
    }
    hr{
      @extend %bg-white;
      margin: 40px 0;
      opacity: 0.2;
      margin: 40px 0;
      @extend %width-inherit;
    }
  }
}

.login-wrapper{
  @extend %box-shadow-gray; 
  position: absolute;
  @extend %height-1024;
  @extend %width-100;
  @extend %top-zero;
  @extend %black-overlay ;
  @extend %flex-end-center;
}
.vh-sized{
  height: 1024px;
  overflow: hidden;
}

.login-card{
  @extend %height-inherit;
  @extend %width-720;
  @extend %bg-white;
  @extend %box-shadow-gray;
  @extend %both-padding-40;
  @extend %box-sizing-box;

  .login-form-wrapper{
    @extend %flex-center-center;
    flex-direction: column;
  }

  .scroll-nav{
    margin-left: 0 !important;
    @extend %margin-bottom-60;
  }

  .header{
    @extend %font-medium;
    @extend %font-26;
    @extend %color-primary;
    line-height: 32px;
    @extend %no-letter-spacing;
    @extend %font-weight-500;
    @extend %margin-bottom-20;
  }

  .paragraph{
    @extend %color-primary;
    opacity: 0.5;
    @extend %font-18;
    line-height: 23px;
    @extend %no-letter-spacing;
    @extend %font-weight-400;
    @extend %margin-bottom-44;
  }
  .naked-button{
    @extend %border-royal-blue;
    @extend %color-royal-blue;
    @extend %width-380;
    @extend %height-60;
  }

  .primary-button{
    @extend %width-380;
    @extend %height-60;
    @extend %margin-bottom-50;
  }

  .small-text{
    @extend %both-margin-24;
    @extend %font-16;
  }
  .input-wrapper{
    @extend %height-80;
    @extend %width-380;
    @extend %border-gray;
    @extend %bg-transparent;
    @extend %box-sizing-box;
    .header{
    line-height: 15px !important;
    }
  }
  .checkbox-wrapper{
    @extend %flex-start;
    .paragraph{
      @extend %font-14;
      @extend %font-regular;
      @extend %color-navy-blue;
      @extend %font-weight-400;
      @extend %opacity-1;
      @extend %margin-left-12;
      @extend %no-margin-bottom;
    }
  }
  .forgot-parag{
    @extend %font-14;
    @extend %font-regular;
    @extend %color-orange;
    @extend %font-weight-400;
    @extend %no-margin-bottom;
    @extend %opacity-1;
  }
}

.mb-26{
  @extend %margin-bottom-26;
}

.mb-30{
  @extend %margin-bottom-30;
}

.mb-50{
  @extend %margin-bottom-50;
}

.mb-60{
  @extend %margin-bottom-60;
}

.extra-wrapper{
  @extend %flex-start-space-between;
  @extend %width-380;
  @extend %margin-bottom-50;
}

.signup-text{
  @extend %flex-center-center;
  .paragraph{
    @extend %font-18;
    @extend %font-medium;
    @extend %font-weight-500;
    @extend %opacity-1;
  }
  .paragraph:last-child{
    @extend %margin-left-12;
    @extend %cursor-pointer;
  }
}
.navy-blue{
  @extend %color-navy-blue;
}
.orange{
  @extend %color-orange;
}
.new-mwnu-section{
  padding: 40px 0 60px;
  @extend %bg-gray;
  margin-top: 0 !important;
}
.popular-menu{
  @extend %bg-gray;
  margin-top: 0 !important;
}
.light-blue{
  @extend %color-primary;
  opacity: 0.5;
}
.search-wrapper{
  width: 295px;
  border: none;
  border-bottom: 1px solid rgb(0, 16, 92);
  @extend %margin-left-50;
  @extend %flex-start-end;

  .image{
    width: 16px;
    height: 20px;
  }
  input{
    width: 243px;
    height: 25px;
    @extend %font-medium;
    @extend %font-18;
    @extend %color-primary;
    @extend %no-letter-spacing;
    @extend %margin-left-8;
    border: none;
  }
  input:focus{
    border: none;
    outline: none;
  }
}
.logo-search-wrapper{
  @extend %flex-start-end;
}
.icon-nav{
  @extend %flex-start;
  .image{
    width: 18px;
    height: 18px;
  }
  .nav-menu{
    @extend %margin-left-8;
  }
}

.cart{
  height: 20px;
  width: 18px;
  @extend %margin-left-50;
}

.overlay-wrapper{
  @extend %flex-center-center;
  @extend %height-100;
  align-items: flex-start !important;
  padding: 170px 0;
  @extend %box-sizing-box;

  .menu-details-card{
    @extend %height-1024;
    @extend %width-720;
    @extend %bg-white;
    @extend %box-shadow-gray;
    @extend %box-sizing-box;
  }
}
