@import "./methods.scss";

@font-face {
    font-family: Poppins-Regular ;
    src: url("./font/poppins/Poppins-Regular.otf");
}
  
@font-face {
    font-family: Poppins-Light ;
    src: url("./font/poppins/Poppins-Light.otf");
}
  
@font-face {
    font-family: Poppins-Medium ;
    src: url("./font/poppins/Poppins-Medium.otf");
}
@font-face {
    font-family: Poppins-SemiBold ;
    src: url("./font/poppins/Poppins-SemiBold.otf");
}
@font-face {
    font-family: Poppins-Bold ;
    src: url("./font/poppins/Poppins-Bold.otf");
}

%flex-start{
    @include flex(center, flex-start);
}

%flex-start-space-between{
    @include flex(center, space-between);
}

%flex-end-center{
    @include flex(center, flex-end);
}

%flex-center-center{
    @include flex(center, center);
}

%color-primary-light{
    color:rgb(36, 56, 107);
}

%color-primary{
    color:rgb(0, 16, 92);
}

%color-white{
    color:rgb(255, 255, 255);
}

%color-orange{
    color: rgb(251, 109, 58);
}

%color-black{
    color: rgb(3, 15, 9);
}

%bg-orange{
    background: rgb(251, 109, 58);
}

%bg-gray {
    background: rgb(249,250,254);
}

%bg-white{
    background:rgb(255, 255, 255);
}

%border-orange{
    border: rgb(251, 109, 58);
}

%font-regular{
    font-family: Poppins-Regular;
}

%font-medium{
    font-family: Poppins-Medium;
}

%font-bold{
    font-family: Poppins-Bold;
}

%font-semi-bold{
    font-family: Poppins-SemiBold;
}

%flex-basis-60{
    flex-basis: 60%;
}

%flex-basis-70{
    flex-basis: 70%;
}

%margin-left-50{
    margin-left: 50px !important;
}

%margin-left-32{
    margin-left: 32px !important;
}

%margin-left-20{
    margin-left: 20px !important;
}

%margin-top-10{
    margin-top: 10px !important;
}

%margin-bottom-25{
    margin-bottom: 25px !important;
}

%margin-bottom-5{
    margin-bottom: 5px !important;
}

%margin-bottom-30{
    margin-bottom: 30px !important;
}


%no-letter-spacing{
    letter-spacing: 0;
}

%font-54{
    font-size: 54px;
}

%font-32{
    font-size: 32px !important;
}

%font-21 {
    font-size: 21px !important;
}

%font-20 {
    font-size: 20px !important;
}

%font-16 {
    font-size: 16px !important;
}

%font-12 {
    font-size: 12px !important;
}

%font-14 {
    font-size: 14px !important;
}

%both-padding-120{
    padding: 0 120px;
}

%both-margin-30{
    margin: 0 30px;
}

%width-inherit{
    width: inherit;
}

%width-380{
    width: 380px;
}