@import "./methods.scss";

@font-face {
    font-family: Poppins-Regular ;
    src: url("./font/poppins/Poppins-Regular.otf");
}
  
@font-face {
    font-family: Poppins-Light ;
    src: url("./font/poppins/Poppins-Light.otf");
}
  
@font-face {
    font-family: Poppins-Medium ;
    src: url("./font/poppins/Poppins-Medium.otf");
}
@font-face {
    font-family: Poppins-SemiBold ;
    src: url("./font/poppins/Poppins-SemiBold.otf");
}
@font-face {
    font-family: Poppins-Bold ;
    src: url("./font/poppins/Poppins-Bold.otf");
}

%flex-start{
    @include flex(center, flex-start);
}

%flex-start-space-between{
    @include flex(center, space-between);
}

%flex-end-center{
    @include flex(center, flex-end);
}

%flex-center-center{
    @include flex(center, center);
}

%color-primary-light{
    color:rgb(36, 56, 107);
}

%color-primary{
    color:rgb(0, 16, 92);
}

%color-navy-blue {
    color: rgb(78, 93, 120) !important;
}

%color-royal-blue{
    color: rgb(20, 107, 255)!important;
}

%color-white{
    color:rgb(255, 255, 255);
}

%color-orange{
    color: rgb(251, 109, 58)!important;
}

%color-black{
    color: rgb(3, 15, 9);
}

%color-aliceblue{
    color: rgb(245, 249, 252);
}

%bg-orange{
    background: rgb(251, 109, 58);
}

%bg-gray {
    background: rgb(249,250,254);
}

%bg-white{
    background:rgb(255, 255, 255);
}

%bg-primary{
    background:rgb(0, 16, 92);
}

%bg-transparent{
    background: transparent;
}

%black-overlay {
    background:rgba(0, 0, 0, 0.4);
}

%border-orange{
    border: 1px solid rgb(251, 109, 58);
}

%border-gray{
    border: 1px solid rgb(224, 224, 224);
}

%border-royal-blue{
    border: 1px solid rgb(20, 107, 255);
}

%box-shadow-gray{
    box-shadow: 0 2px 5px 1px rgba(214, 214, 214, 0.5);
}

%font-regular{
    font-family: Poppins-Regular;
}

%font-medium{
    font-family: Poppins-Medium;
}

%font-bold{
    font-family: Poppins-Bold;
}

%font-semi-bold{
    font-family: Poppins-SemiBold;
}

%flex-basis-60{
    flex-basis: 60%;
}

%flex-basis-70{
    flex-basis: 70%;
}

%flex-basis-30{
    flex-basis: 30%;
}

%margin-left-50{
    margin-left: 50px !important;
}

%margin-left-30{
    margin-left: 30px !important;
}

%margin-left-32{
    margin-left: 32px !important;
}

%margin-left-20{
    margin-left: 20px !important;
}

%margin-left-12{
    margin-left: 12px !important;
}

%margin-left-100{
    margin-left: 100px !important;
}

%margin-top-10{
    margin-top: 10px !important;
}

%margin-bottom-25{
    margin-bottom: 25px !important;
}

%margin-bottom-5{
    margin-bottom: 5px !important;
}

%margin-bottom-10{
    margin-bottom: 10px !important;
}

%margin-bottom-20{
    margin-bottom: 20px !important;
}

%margin-bottom-26{
    margin-bottom: 26px !important;
}

%margin-bottom-30{
    margin-bottom: 30px !important;
}

%margin-bottom-44{
    margin-bottom: 44px !important;
}

%margin-bottom-50{
    margin-bottom: 50px !important;
}

%margin-bottom-60{
    margin-bottom: 60px !important;
}

%no-margin-bottom{
    margin-bottom: 0 !important;
}

%no-letter-spacing{
    letter-spacing: 0;
}

%font-54{
    font-size: 54px !important;
}

%font-44{
    font-size: 44px !important;
}

%font-32{
    font-size: 32px !important;
}

%font-30{
    font-size: 30px !important;
}

%font-26{
    font-size: 26px !important;
}

%font-22 {
    font-size: 22px !important;
}

%font-21 {
    font-size: 21px !important;
}

%font-20 {
    font-size: 20px !important;
}

%font-18 {
    font-size: 18px !important;
}

%font-17 {
    font-size: 17px !important;
}

%font-16 {
    font-size: 16px !important;
}

%font-13 {
    font-size: 13px !important;
}

%font-12 {
    font-size: 12px !important;
}

%font-14 {
    font-size: 14px !important;
}

%font-weight-500{
    font-weight: 500;
}

%font-weight-400{
    font-weight: 400;
}

%both-padding-120{
    padding: 0 120px;
}
%both-padding-100{
    padding: 100px 0;
}

%both-padding-20{
    padding: 15px 20px;
}

%both-margin-24{
    margin: 24px 0!important;
}

%both-padding-40{
    padding: 40px;
}

%top-zero{
    top: 0;
}

%both-margin-30{
    margin: 0 30px;
}

%width-inherit{
    width: inherit;
}

%width-100{
    width: 100%;
}

%width-380{
    width: 380px;
}

%width-720{
    width: 720px;
}

%height-inherit{
    height: inherit;
}

%height-100{
    height: 100%;
}

%height-60{
    height: 60px;
}

%height-80{
    height: 80px;
}

%text-center{
    text-align: center;
}

%text-left{
    text-align: left;
}

%cursor-pointer {
    cursor: pointer;
}

%box-sizing-box{
    box-sizing: border-box;
}

%opacity-1{
    opacity: 1 !important;
}